ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

ul li {
  list-style: none;
  text-align: center;
  color: #a9b2a9;
  font-size: 14px;
}
h3 {
  color: #ffbe5c;
  padding: 0px;
}
h5 {
  color: #a9b2a9;
}

button {
  background-color: #ffbe5c;
  border: none;
  color: white;
  padding: 10px 45px;
  margin-left: 95px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 120px;
}
span {
  color: #718373;
}
li::first-letter {
  text-transform: capitalize;
}

.header {
  display: block;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 10px;
  color: #ffbe5c;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 30px;
  border: 3px solid #d1d7d1;
  border-radius: 50px;
  max-width: 500px;
  margin-top: 10px;
  background-image: url(file:///Users/nataliapereyra/Documents/GitHub/My-Weather-App/Images/backgroundimage.png);
}
.row {
  box-sizing: border-box;
  margin-top: -100px;
}
.fas.fa-smog {
  color: #ffbe5c;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.fas.fa-cloud {
  color: #ffbe5c;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.fas.fa-wind {
  color: #ffbe5c;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.fas.fa-umbrella {
  color: #ffbe5c;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.fas.fa-cloud-sun-rain {
  color: #ffbe5c;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.fas.fa-sun {
  color: #ffbe5c;
  font-size: 60px;
  margin-left: -10;
  margin-right: 15px;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 20px auto;
}

.temperature .units {
  color: #ffbe5c;
  font-size: 16px;
  position: relative;
  top: -50px;
}
#temperature {
  font-size: 65px;
  color: #a9b2a9;
  font-weight: normal;
  padding: 0px;
}
#my-name {
  color: #ffa826;
  font-style: italic;
  margin: 0 auto;
}
#my-link {
  color: #5a6276;
  font-style: bold;
}

#description-weather {
  color: #ffbe5c;
  font-size: 18px;
  position: relative;
  top: -10px;
  left: 5px;
  text-transform: capitalize;
}
#weather-description {
  position: relative;
  right: -20px;
  font-weight: bolder;
  top: 10px;
}
.units {
  margin-left: 25px;
  margin-bottom: 70px;
  padding-top: 0px;
}
.temperature .inactive {
  color: #ffbe5c;
  text-decoration: none;
  font-weight: bolder;
}
.temperature .active {
  color: #a9b2a9;
  text-decoration: none;
  cursor: default;
}
.temperature .active:hover {
  text-decoration: none;
}
.weather-forecast-temperature {
  color: #a9b2a9;
  margin-top: 10px;
  font-size: 14px;
}
#all-forecast {
  margin-top: 30px;
}
#fahrenheit-link {
  margin-left: 0px;
}
#celsius-link {
  margin-left: 70px;
}
#icon {
  margin-left: -20px;
}
#city {
  margin-bottom: 0px;
}
